In [1]:
from __future__ import division
import pandas as pd
import pickle
import numpy as np

pd.options.mode.chained_assignment = None

In [2]:
df = pd.read_csv("~/donorschoose/data_files/opendata_projects.csv", parse_dates = ['date_posted', 'date_completed', 'date_thank_you_packet_mailed', 'date_expiration'])

In [3]:
df2 = df[df['funding_status'] != "reallocated"]
df2 = df2[df2['funding_status'] != "live"]

In [4]:
df2.school_state = df2.school_state.replace("La", "LA")

In [9]:
state_df = pd.DataFrame(df2.num_donors.groupby([df2.school_state]).sum())
state_df['school_state'] = state_df.index
state_projects_df = pd.DataFrame(df2.num_donors.groupby([df2.school_state]).count())
state_projects_df['school_state'] = state_projects_df.index
state_df = state_df.merge(state_projects_df, on = "school_state", how = "left")
state_df.columns = ['total_state_donors', 'school_state', 'total_state_projects']
state_df['state_avg_donors'] = state_df.total_state_donors/state_df.total_state_projects
state_df

    total_state_donors school_state  total_state_projects  state_avg_donors
0                 8185           AK                  2065          3.963680
1                28333           AL                  8000          3.541625
2                24909           AR                  7869          3.165459
3                65953           AZ                 12910          5.108675
4               800185           CA                157654          5.075577
5                48013           CO                  9132          5.257665
6                47062           CT                  9763          4.820445
7                38429           DC                  7814          4.917968
8                11997           DE                  2153          5.572225
9               207663           FL                 41090          5.053857
10               98427           GA                 22454          4.383495
11               16302           HI                  3769          4.325285
12               16242           IA                  4164          3.900576
13               13681           ID                  3061          4.469454
14              206034           IL                 48378          4.258837
15               87593           IN                 21452          4.083209
16               15311           KS                  3796          4.033456
17               24608           KY                  6023          4.085672
18               54087           LA                 15102          3.581446
19               77629           MA                 13341          5.818829
20               67169           MD                 12052          5.573266
21               21188           ME                  4467          4.743228
22               83680           MI                 16955          4.935417
23               33452           MN                  6163          5.427876
24               69536           MO                 15652          4.442627
25               28799           MS                  8677          3.319004
26                6764           MT                  1273          5.313433
27              175217           NC                 51352          3.412077
28                3006           ND                   642          4.682243
29                8056           NE                  2041          3.947085
30               10597           NH                  1985          5.338539
31               63941           NJ                 13332          4.796055
32               16229           NM                  3450          4.704058
33               36643           NV                 10738          3.412460
34              334846           NY                 85457          3.918298
35               54147           OH                 10957          4.941772
36               59916           OK                 19119          3.133846
37               44807           OR                  9167          4.887859
38               96404           PA                 19262          5.004880
39               12409           RI                  2712          4.575590
40               73372           SC                 23273          3.152666
41                6471           SD                  1389          4.658747
42               99405           TN                 17909          5.550561
43              194700           TX                 52912          3.679695
44               36404           UT                 11980          3.038731
45               68194           VA                 14485          4.707905
46                4214           VT                   772          5.458549
47              101334           WA                 15047          6.734499
48               43842           WI                  9285          4.721809
49               12952           WV                  3116          4.156611
50                2588           WY                   553          4.679928

In [11]:
states = state_df.school_state.values.tolist()
donors = state_df.total_state_donors.values.tolist()
projects = state_df.total_state_projects.values.tolist()
avg = state_df.state_avg_donors.values.tolist()

In [ ]:
<option value="1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0">Applied Sciences</option>

In [20]:
options = []
for i in range(len(donors)):
    donor = donors[i]
    project = projects[i]
    state_avg = avg[i]
    state = states[i]
    print '<option value="' + str(donor) + ',' + str(project) + ',' + str(state_avg) +'">' + state + "</option>"

<option value="8185,2065,3.96368038741">AK</option>
<option value="28333,8000,3.541625">AL</option>
<option value="24909,7869,3.16545939764">AR</option>
<option value="65953,12910,5.10867544539">AZ</option>
<option value="800185,157654,5.07557689624">CA</option>
<option value="48013,9132,5.25766535261">CO</option>
<option value="47062,9763,4.82044453549">CT</option>
<option value="38429,7814,4.91796775019">DC</option>
<option value="11997,2153,5.5722248026">DE</option>
<option value="207663,41090,5.05385738623">FL</option>
<option value="98427,22454,4.38349514563">GA</option>
<option value="16302,3769,4.32528522154">HI</option>
<option value="16242,4164,3.90057636888">IA</option>
<option value="13681,3061,4.46945442666">ID</option>
<option value="206034,48378,4.25883666129">IL</option>
<option value="87593,21452,4.0832090248">IN</option>
<option value="15311,3796,4.03345626976">KS</option>
<option value="24608,6023,4.08567159223">KY</option>
<option value="54087,15102,3.58144616607">LA</option>
<option value="77629,13341,5.81882917323">MA</option>
<option value="67169,12052,5.57326584799">MD</option>
<option value="21188,4467,4.7432281173">ME</option>
<option value="83680,16955,4.93541728104">MI</option>
<option value="33452,6163,5.4278760344">MN</option>
<option value="69536,15652,4.4426271403">MO</option>
<option value="28799,8677,3.31900426415">MS</option>
<option value="6764,1273,5.31343283582">MT</option>
<option value="175217,51352,3.41207742639">NC</option>
<option value="3006,642,4.68224299065">ND</option>
<option value="8056,2041,3.94708476237">NE</option>
<option value="10597,1985,5.33853904282">NH</option>
<option value="63941,13332,4.79605460546">NJ</option>
<option value="16229,3450,4.70405797101">NM</option>
<option value="36643,10738,3.41246042093">NV</option>
<option value="334846,85457,3.91829809144">NY</option>
<option value="54147,10957,4.94177238295">OH</option>
<option value="59916,19119,3.13384591244">OK</option>
<option value="44807,9167,4.88785862332">OR</option>
<option value="96404,19262,5.00488007476">PA</option>
<option value="12409,2712,4.5755899705">RI</option>
<option value="73372,23273,3.15266617969">SC</option>
<option value="6471,1389,4.65874730022">SD</option>
<option value="99405,17909,5.55056117036">TN</option>
<option value="194700,52912,3.67969458724">TX</option>
<option value="36404,11980,3.0387312187">UT</option>
<option value="68194,14485,4.70790472903">VA</option>
<option value="4214,772,5.4585492228">VT</option>
<option value="101334,15047,6.73449857114">WA</option>
<option value="43842,9285,4.72180936995">WI</option>
<option value="12952,3116,4.15661103979">WV</option>
<option value="2588,553,4.67992766727">WY</option>